{% extends "layout.html" %}

{% block title %}
    Search Site
{% endblock %}

{% block js %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            const request = new XMLHttpRequest();



            const form = document.getElementById('searchForm')
            form.addEventListener('submit', (e) => {
                e.preventDefault()
                request.onload = () => {
                    alert(request.responseText)
                }
                const keyword = form.querySelector('#searchKeyword').value
                // Add data to send with request
                const searchData = new FormData();
                searchData.append('keyword', keyword);
                console.log('form', searchData,'keyword', keyword)

                request.open('POST', '/search');
                // Send request
                request.send(searchData);

            })

        })
    </script>
{%  endblock %}


{% block body %}
    <h1>Search</h1>
    <form id="searchForm">
        <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input id="searchKeyword" type="text" name="keyword" class="form-control" placeholder="Enter keyword">
        </div>
    </form>
    <div class="container">
        <h2>Title Search </h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">ISBN</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in data.title %}
                <tr>
                    <td>{{ entry[0] }}</td>
                    <td>{{ entry[1] }}</td>
                    <td>{{ entry[2] }}</td>
                    <td>{{ entry[4] }}</td>
                    <td><a class="btn btn-primary" href="{{ url_for('book', isbn=entry[1], action='view') }}" role="button">Review</a></td>
                </tr>
            {% else %}
                <td>Title Data is empty</td>
            {% endfor %}
            </tbody>
        </table>

        <h2>ISBN Search</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">ISBN</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in data.isbn %}
                <tr>
                    <td>{{ entry[0] }}</td>
                    <td>{{ entry[1] }}</td>
                    <td>{{ entry[2] }}</td>
                    <td>{{ entry[4] }}</td>
                    <td><a class="btn btn-primary" href="{{ url_for('book', isbn=entry[1], action='view') }}" role="button">Review</a></td>

                </tr>
            {% else %}
                <td>ISBN Data is empty</td>
            {% endfor %}
            </tbody>
        </table>
        <h2>Author Search </h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">ISBN</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Actions</th>

            </tr>
            </thead>
            <tbody>
            {% for entry in data.author %}
                <tr>
                    <td>{{ entry[0] }}</td>
                    <td>{{ entry[1] }}</td>
                    <td>{{ entry[2] }}</td>
                    <td>{{ entry[4] }}</td>
                    <td><a class="btn btn-primary" href="{{ url_for('book', isbn=entry[1], action="view") }}" role="button">Review</a></td>

                </tr>
            {% else %}
                <td>Author Data is empty</td>
            {% endfor %}
            </tbody>
        </table>

    </div>


{% endblock %}
